/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: block;
  background-color: #ffffff;
  color: #333333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

ul{
  list-style: square;
  list-style-position: inside;
  font-size: 12px;
}

.flash-message{
  color: #008000;
  margin: 33px;
}

.heading{
  margin: 17.42px 0px;
}

.sub-heading{
  margin: 16.185px 0px;
}

.text{
  margin: 33px;
}

.table-heading{
  padding: 1px 1px 5px;
}

.table-element{
  padding: 1px 5px 7px;
}

.input-box{
  margin: 0px 0px 10px;
}

.error-frame{
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0px;
  margin: 0px 0px 20px;
  background-color: #f0f0f0;

}

.error-title{
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0px;
  background-color: #cc0000;
  color: #ffffff;
}

